<div class='box invitation'>
  <div class='action_buttons'>
    <% if invitation.status == "pending" %>
      <%= link_to '', accept_invitation_path(invitation), method: :patch, class: "btn-validate"%>
      <%= link_to '', decline_invitation_path(invitation), method: :patch, class: "btn-decline"%>
    <% elsif invitation.status == "accepted" %>
      <span class="icon icon-validate green"></span>
    <% elsif invitation.status == "rejected" %>
      <span class="icon icon-decline orange"></span>
    <% end %>
    <div class='description'>
      <%= link_to preview_invitation_path(invitation) do %>
        <%= invitation.full_name %> - <span><%= invitation.instrument.name %></span>
      <% end %>
    </div>
  </div>
  <div class='action_buttons'>
    <% enveloppe_class = "icon icon_size icon-envelope" %>
    <% open_class = "icon icon_size  icon-open-envelope" %>
    <% click_class = "icon icon_size icon-click" %>

    <% if invitation.email_bounce %>
      <% enveloppe_class += " orange" %>
    <% else %>
      <% if invitation.email_delivered %>
        <% enveloppe_class += " green" %>
      <% else %>
      <% end %>
      <% if invitation.email_read %>
        <% open_class += " green" %>
      <% else %>
      <% end %>
      <% if invitation.email_clicked %>
        <% click_class += " green" %>
      <% else %>
      <% end %>
    <% end %>

    <span class="<%= enveloppe_class%>" title="Reception"></span>
    <span class="<%= open_class%>" title="Opened" ></span>
    <span class="<%= click_class%>" title="Clicked"></span>
  </div>
</div>
