<div class='box invitation'>
  <div class='action_buttons'>
    <% if invitation.status == "pending" %>
      <%= link_to '', accept_invitation_path(invitation), method: :patch, class: "btn-validate"%>
      <%= link_to '', decline_invitation_path(invitation), method: :patch, class: "btn-decline"%>
    <% elsif invitation.status == "accepted" %>
      <span class="icon icon-validate green"></span>
    <% elsif invitation.status == "rejected" %>
      <span class="icon icon-decline orange"></span>
    <% end %>
    <div class='description'>
      <%= link_to invitation_path(invitation) do %>
        <%= invitation.full_name %> - <span><%= invitation.instrument.name %></span>
      <% end %>
    </div>
  </div>
  <div class='action_buttons'>
    <% enveloppe_class = "icon icon_size icon-envelope" %>
    <% open_class = "icon icon_size  icon-open-envelope" %>
    <% click_class = "icon icon_size icon-click" %>
    <% title_deliver = "Email sent" %>
    <% title_open = "" %>
    <% title_click = "" %>

    <% if invitation.email_bounce %>
      <% enveloppe_class += " orange" %>
      <% title_deliver = "Error. Email not received"%>
    <% else %>
      <% if invitation.email_delivered %>
        <% enveloppe_class += " green" %>
        <% title_deliver = "Email delivered"%>
      <% else %>
        <% enveloppe_class += " gray" %>
        <% title_deliver = "Sending email... processing"%>
      <% end %>
    <% end %>
    <% if invitation.email_read %>
      <% open_class += " green" %>
      <% title_open = "Recipient has opened the email"%>
    <% else %>
      <% open_class += " gray" %>
      <% title_open = "Email not opened yet"%>
    <% end %>
    <% if invitation.email_clicked %>
      <% click_class += " green" %>
      <% title_click = "Recipient clicked on a link"%>
    <% else %>
      <% click_class += " gray" %>
      <% title_click = "Recipient has not clicked for now."%>
    <% end %>
    <span class="<%= enveloppe_class%>" title="<%= title_deliver %>"></span>
    <span class="<%= open_class%>" title="<%= title_open %>" ></span>
    <span class="<%= click_class%>" title="<%= title_click %>"></span>
  </div>
</div>
