<div class='box invitation'>
  <div class='action_buttons'>
    <button class='btn-validate'></button>
    <button class='btn-decline'></button>
    <div class='description'>
    <%#= invitation.status %>
      <%= invitation.full_name %> -
      <span><%= invitation.instrument.name %></span>
    </div>
  </div>
  <div class='action_buttons'>
    <% enveloppe_class = "icon icon_size icon-envelope" %>
    <% open_class = "icon icon_size  icon-open-envelope" %>
    <% click_class = "icon icon_size icon-click" %>

    <% if invitation.email_bounce %>
      <% enveloppe_class += " orange" %>
    <% else %>
      <% if invitation.email_delivered %>
        <% enveloppe_class += " green" %>
      <% else %>
      <% end %>
      <% if invitation.email_read %>
        <% open_class += " green" %>
      <% else %>
      <% end %>
      <% if invitation.email_clicked %>
        <% click_class += " green" %>
      <% else %>
      <% end %>
    <% end %>

    <span class="<%= enveloppe_class%>"></span>
    <span class="<%= open_class%>"></span>
    <span class="<%= click_class%>"></span>
  </div>
</div>
