<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <% if user_signed_in? %>
  <% home_url = dashboard_path %>
  <% else %>
  <% home_url = root_path %>
  <% end %>
  <%= link_to home_url, class: "navbar-brand" do %>
    <%= image_tag "final_logo.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Concerts", concerts_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Musical Works", musical_works_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Invitations", invitations_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <div class="nav-item nav-item-right">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
