<div class="col-6">
  <div class="box work-box">
    <h2 class="icon icon-<%= icon %>"><%= category %></h2>
    <div class="main-box">
      <div class="edit-box">
        <% work_instruments.each do |work_instrument| %>
          <div class="edit-line">
            <%= simple_form_for(work_instrument) do |f| %>
              <!-- <input type="number" placeholder="0" class="input-box" value="<%= work_instrument.quantity %>"> -->
              <%= f.input :quantity, label:false %>
              <p class="edit-instrument"><%= work_instrument.instrument.name %></p>
              <% if work_instrument.sheet_pdf.url.nil? %>
                <div class="upload-pdf">
                  <%= f.input :sheet_pdf, label: 'Select missing pdf', label_html: { class: 'label-pdf orange' } %>
                  <%= f.input :sheet_pdf_cache, as: :hidden %>
                </div>
              <% else %>
                <%= link_to "View PDF", work_instrument.sheet_pdf.url, target: "_blank", class: "icon icon-read-mail px-2" %>
              <% end %>
              <%= f.button :submit, "Save", class: 'label-pdf icon icon-read-mail green' %>
          <% end %>
          </div>
        <% end %>
        <div class="add-instrument">
          <form action="<%= musical_work_work_instruments_path(@musical_work) %>" method="post">
            <select onchange="this.form.submit()" name="work_instrument[instrument_id]" id="instrument-selector">
              <option value="add-instrument">- Add instrument -</option>
              <% Instrument.where(category: category).each do |instr|  %>
                <option value="<%= instr.id %>"><%= instr.name %></option>
              <% end %>
            </select>
            <input type="hidden" name="authenticity_token" id="authenticity_token" value="<%= form_authenticity_token %>" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


