<div class="col-6">
  <div class="box work-box">
    <h2 class="icon icon-<%= icon %>"><%= category %></h2>
    <div class="main-box">
      <div class="edit-box">
        <% work_instruments.each do |work_instrument| %>
          <div class="edit-line">
            <input type="number" placeholder="0" class="input-box" value="<%= work_instrument["quantity"] %>">
            <p class="edit-instrument"><%= work_instrument["name"] %></p>
            <% if work_instrument.sheet_pdf.url.nil? %>
            <span class="orange">Missing PDF</span>
          <% else %>
            <%= link_to "View PDF", work_instrument.sheet_pdf.url, target: "_blank", class: "icon icon-read-mail px-2" %>
          <% end %>
          </div>
        <% end %>
        <div class="add-instrument">
          <select name="" id="instrument-selector">
            <option value="add-instrument">- Add instrument -</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
