<div class="col-6">
  <div class="box work-box">
    <h2 class="icon icon-<%= icon %>"><%= category %></h2>
    <div class="main-box">
      <div class="edit-box">
        <% work_instruments.each do |instrument| %>
          <div class="edit-line">
            <input type="number" placeholder="0" class="input-box" value="<%= instrument["quantity"] %>">
            <p class="edit-instrument"><%= instrument["name"] %></p>
            <a href="#" class="view-link">view the sheet<span class="icon icon-read-mail px-2"></span></a>
          </div>
        <% end %>
        <div class="add-instrument">
          <form action="<%= musical_work_work_instruments_path(@musical_work) %>" method="post">
            <select onchange="this.form.submit()" name="work_instrument[instrument_id]" id="instrument-selector">
              <option value="add-instrument">- Add instrument -</option>
              <% Instrument.where(category: category).each do |instr|  %>
                <option value="<%= instr.id %>"><%= instr.name %></option>
              <% end %>
            </select>
            <input type="hidden" name="authenticity_token" id="authenticity_token" value="<%= form_authenticity_token %>" />
          </form>

          <%#= select("post", "person_id", Instrument.where(category: category).collect {|p| [ p.name, p.id ] }, { include_blank: true }) %>

        </div>
      </div>
    </div>
  </div>
</div>
