<div class="container">
  <div class="row">
    <div class="col-12 col-lg-3">
      <div class="box">
        <h1><%= @concert.name %></h1>
        <div class="infos-concert">
          <div class="info-icon icon icon-location"></div>
          <div class="adress-infos">
            <p><%= @concert.location %></p>
            <p><%= @concert.address %></p>
          </div>
        </div>
        <div class="infos-concert">
          <div class="info-icon icon icon-agenda"></div>
          <div class="date-infos">
            <p><%= @concert.start_at %></p>
            <p><%= @concert.end_at %></p>
          </div>
        </div>
        <div class="infos-concert">
          <div class="info-icon icon icon-note"></div>
          <div class="notes-infos">
            <p><%= @concert.notes %></p>
          </div>
        </div>
      </div>
      <div class="box">
        Map
      </div>
    </div>
    <div class="col-12 col-lg-9">
      <div class="box dark_box program">
        <h2>Program</h2>
          <% @program_steps.each do |program_step| %>
            <% if program_step.kind == "intermission" %>
              <div class="box intermission">Intermission</div>
            <% else %>
              <div class="box program-step">
                <div class="icon icon-drag"></div>
                <div class="composer"><%= program_step.musical_work.composer_name %></div>
                <div class="work-infos">
                  <p><%= program_step.musical_work.title %> (<%= program_step.musical_work.duration %> min)</p>
                  <p><%= link_to "Missing trompets", musical_work_path(program_step.musical_work), class: 'orange' %></p>
                </div>
                <div class="duration"><%= program_step.musical_work.duration %> min</div>
              </div>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
