<div class="container">
  <div class="row">
    <div class="col-12 col-lg-3">
      <div class="box">
        <h1><%= @concert.name %></h1>
        <div class="infos-concert">
          <div class="info-icon icon icon-location"></div>
          <div class="adress-infos">
            <p><%= @concert.location %></p>
            <p><%= @concert.address %></p>
          </div>
        </div>
        <div class="infos-concert">
          <div class="info-icon icon icon-agenda"></div>
          <div class="date-infos">
            <p><%= @concert.start_at.strftime("%d %B %Y") %></p>
            <span><%= @concert.start_at.strftime("%H:%M")%></span><span><%= @concert.end_at.strftime(" to %H:%M") %></span>
          </div>
        </div>
        <div class="infos-concert">
          <div class="info-icon icon icon-note"></div>
          <div class="notes-infos">
            <p><%= @concert.notes %></p>
          </div>
        </div>
      </div>
      <div class="box" id="map"
        style="width: 100%;
        height: 400px; padding: 0px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    <div class="col-12 col-lg-9">
      <div class="box dark_box program">
        <h2>Program</h2>
          <div class="banner_button infos-concert program">
            <div id="add-program-steps">
              <div>
                <select name="" id=""><option value=""></option></select><%#= link_to "Add musical_works", add_work_concert_program_steps_path(@concert), { method: "post", class: 'add_button icon icon-plus' } %></div>
            </div>
            <div id="add-intermission">
              <div><%= link_to "Add intermission", add_intermission_concert_program_steps_path(@concert), { method: "post", class: 'btn add_button icon icon-plus' } %></div>
            </div>
          </div>
          <div id="program-steps">
            <% @program_steps.each do |program_step| %>
              <%= render partial: 'shared/program_step', locals: {program_step: program_step } %>
            <% end %>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
