<h1><%= @musical_work.title %></h1>
<p>Find me in app/views/musical_works/show.html.erb</p>
<div class="row">
  <div class="col-6">
    <ul>
      <li>composer_name : <%= @musical_work.composer_name %></li>
      <li>duration : <%= @musical_work.duration %></li>
      <li>notes : <%= @musical_work.notes %></li>
      <li><%= link_to "BACK TO INDEX OF MUSICAL WORKS", musical_works_path %></li>
    </ul>
  </div>
  <div class="col-6">
    <% if @work_instruments["Strings"].any? %>
    <div class="box">
      <h2>Strings</h2>
      <% @work_instruments["Strings"].each do |instrument| %>
        <%= instrument["quantity"] %> - <%= instrument["name"] %><br>
      <% end %>
    </div>
    <% end %>
    <% if @work_instruments["Brass"].any? %>
    <div class="box">
      <h2>Brass</h2>
      <% @work_instruments["Brass"].each do |instrument| %>
        <%= instrument["quantity"] %> - <%= instrument["name"] %><br>
      <% end %>
    </div>
    <% end %>
    <% if @work_instruments["Woodwinds"].any? %>
    <div class="box">
      <h2>Woodwinds</h2>
      <% @work_instruments["Woodwinds"].each do |instrument| %>
        <%= instrument["quantity"] %> - <%= instrument["name"] %><br>
      <% end %>
    </div>
    <% end %>
    <% if @work_instruments["Percussions"].any? %>
    <div class="box">
      <h2>Percussions</h2>
      <% @work_instruments["Percussions"].each do |instrument| %>
        <%= instrument["quantity"] %> - <%= instrument["name"] %><br>
      <% end %>
    </div>
    <% end %>
    <% if @work_instruments["Keyboards"].any? %>
    <div class="box">
      <h2>Keyboards</h2>
      <% @work_instruments["Keyboards"].each do |instrument| %>
        <%= instrument["quantity"] %> - <%= instrument["name"] %><br>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
