<div class="col-md-12 musical-work-show">
  <div class="wrapper">
    <div class="work-card">
      <div class="front">
        <h1>The Four Seasons of Buenos Aires</h1>
        <p>Astor Piazzolla<span>45 min.</span></p>
        <p class="note-work">Arranged by Claudio Dante D'Iorio in 2011. Set of four tango</p>
      </div>
      <div class="right">
        <h2>Composition</h2>
        <ul>
          <li class="icon icon-strings compose-icon"> Strings x 5</li>
          <li class="icon icon-drum compose-icon"> Percussion  x 1</li>
          <li class="icon icon-keyboard compose-icon"> Keyboard x2</li>
          <li class="icon icon-trumpet compose-icon"> Brass x3</li>
          <li class="icon icon-flute compose-icon"> Woodwinds x 3</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="box dark_box work-edit col-9">
    <div class="col-6">
       <% if @work_instruments["Strings"].any? %>
    <div class="box">
      <h2>Strings</h2>
      <% @work_instruments["Strings"].each do |instrument| %>
        <%= instrument["quantity"] %> - <%= instrument["name"] %><br>
      <% end %>
    </div>
    <% end %>
    <% if @work_instruments["Brass"].any? %>
    <div class="box">
      <h2>Brass</h2>
      <% @work_instruments["Brass"].each do |instrument| %>
        <%= instrument["quantity"] %> - <%= instrument["name"] %><br>
      <% end %>
    </div>
    <% end %>
    <% if @work_instruments["Woodwinds"].any? %>
    <div class="box">
      <h2>Woodwinds</h2>
      <% @work_instruments["Woodwinds"].each do |instrument| %>
        <%= instrument["quantity"] %> - <%= instrument["name"] %><br>
      <% end %>
    </div>
    <% end %>
    <% if @work_instruments["Percussions"].any? %>
    <div class="box">
      <h2>Percussions</h2>
      <% @work_instruments["Percussions"].each do |instrument| %>
        <%= instrument["quantity"] %> - <%= instrument["name"] %><br>
      <% end %>
    </div>
    <% end %>
    <% if @work_instruments["Keyboards"].any? %>
    <div class="box">
      <h2>Keyboards</h2>
      <% @work_instruments["Keyboards"].each do |instrument| %>
        <%= instrument["quantity"] %> - <%= instrument["name"] %><br>
      <% end %>
    </div>
    <% end %>
      
      <div class="box work-box">
        <h3>Strings</h3>
        <div class="main-box">
          <div class="icon-box icon icon-strings"></div>
          <div class="edit-box">
            <div class="edit-line">
              <input type="number" placeholder="0" class="input-box">
              <p class="edit-instrument">Violin</p>
              <a href="#" class="view-link">view the sheet<span class="icon icon-read-mail px-2"></span></a>
            </div>
            <div class="edit-line">
              <input type="number" placeholder="0" class="input-box">
              <p class="edit-instrument">Viola</p>
              <button class="btn btn-warning upload-button">upload sheet</button>
            </div>
            <div class="add-instrument">
              <select name="" id="instrument-selector">
                <option value="add-instrument">- Add instrument -</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box work-box add-category-box col-6">
      <select name="" id="category-selector" class= "btn-category-selector">
        <option value="add-category">- Add category -</option>
        <option value="strings">Strings</option>
        <option value="keyboard">Keyboards</option>
        <option value="brass">Brass</option>
        <option value="woodwinds">Woodwines</option>
        <option value="percussions">Percussions</option>
      </select>
    </div>
  </div>
</div>

