<div class="col-md-12 musical-work-show">
  <div class="wrapper">
    <div class="work-card">
      <div class="front">
        <h1>The Four Seasons of Buenos Aires</h1>
        <p>Astor Piazzolla<span>45 min.</span></p>
        <p class="note-work">Arranged by Claudio Dante D'Iorio in 2011. Set of four tango</p>
      </div>
      <div class="right">
        <h2>Composition</h2>
        <ul>
          <li class="icon icon-strings compose-icon"> Strings x 5</li>
          <li class="icon icon-drum compose-icon"> Percussion  x 1</li>
          <li class="icon icon-keyboard compose-icon"> Keyboard x2</li>
          <li class="icon icon-trumpet compose-icon"> Brass x3</li>
          <li class="icon icon-flute compose-icon"> Woodwinds x 3</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="box dark_box work-edit col-9">
    <% if @work_instruments["Strings"].any? %>
      <%= render partial: 'shared/work_instrument', locals: {icon: "strings", category: "Strings", work_instruments: @work_instruments["Strings"] } %>
    <% end %>
    <% if @work_instruments["Brass"].any? %>
      <%= render partial: 'shared/work_instrument', locals: {icon: "trumpet", category: "Brass", work_instruments: @work_instruments["Brass"] } %>
    <% end %>
    <% if @work_instruments["Woodwinds"].any? %>
      <%= render partial: 'shared/work_instrument', locals: {icon: "flute", category: "Woodwinds", work_instruments: @work_instruments["Woodwinds"] } %>
    <% end %>
    <% if @work_instruments["Percussions"].any? %>
      <%= render partial: 'shared/work_instrument', locals: {icon: "drum", category: "Percussions", work_instruments: @work_instruments["Percussions"] } %>
    <% end %>
    <% if @work_instruments["Keyboards"].any? %>
      <%= render partial: 'shared/work_instrument', locals: {icon: "keyboard", category: "Keyboards", work_instruments: @work_instruments["Keyboards"] } %>
    <% end %>
    <div class="box work-box add-category-box col-6">
      <select name="" id="category-selector" class= "btn-category-selector">
        <option value="add-category">- Add category -</option>
        <option value="strings">Strings</option>
        <option value="keyboard">Keyboards</option>
        <option value="brass">Brass</option>
        <option value="woodwinds">Woodwines</option>
        <option value="percussions">Percussions</option>
      </select>
    </div>
  </div>
</div>

