<div class="row">
  <div class="col-12 col-lg-4" id='left-column'>
    <div class="box dark_box" id='pending-box'>
      <h2><span class="icon-musical-note"></span><span>Pending works</span></h2>
      <div class="search">
        <input type="text" class="pending-search search_bars" placeholder="search pending works">
        <button type="submit" class="search-button">
          <i class="fa fa-search"></i>
       </button>
      </div>
      <div class="scroll-card" id="pending-works">
        <% @pending_works.each do |work| %>
          <div class="box">
          <%= link_to musical_work_path(work) do %>
            <p><%= work.title %></p>
            <p class="orange">Missing trumpets</p>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="box" id='calendar'>
      <%= month_calendar(events: @concerts, attribute: :start_at, end_attribute: :end_at) do |date, events| %>
        <% if events.count > 0 %>
          <% events.each do |event| %>
            <%= link_to concert_path(event) do  %>
              <%= date.day %>
            <% end %>
          <% end %>
        <% else %>
          <%= date.day %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-12 col-lg-8"  id='right-column'>
    <div class="box" id='invitation_list'>
      <h2 class="icon-note">Pending invitations</h2>
      <div class="scroll-card" id="pending-invitations">
        <% @invitations.each do |invitation| %>
          <div class='box invitation'>
            <div class='action_buttons'>
              <button class='btn-validate' title='Validate'></button>
              <button class='btn-decline' title='Decline'></button>
              <div class='description'>
              <%#= invitation.status %>
                <%= invitation.full_name %> -
                <span><%= invitation.instrument.name %></span>
              </div>
            </div>
            <div class='action_buttons'>
              <% enveloppe_class = "icon icon_size icon-envelope" %>
              <% open_class = "icon icon_size  icon-open-envelope" %>
              <% click_class = "icon icon_size icon-click" %>

              <% if invitation.email_bounce %>
                <% enveloppe_class += " orange" %>
              <% else %>
                <% if invitation.email_delivered %>
                  <% enveloppe_class += " green" %>
                <% else %>
                <% end %>
                <% if invitation.email_read %>
                  <% open_class += " green" %>
                <% else %>
                <% end %>
                <% if invitation.email_clicked %>
                  <% click_class += " green" %>
                <% else %>
                <% end %>
              <% end %>

              <span class="<%= enveloppe_class%>" title="Received"></span>
              <span class="<%= open_class%>" title="Opened" ></span>
              <span class="<%= click_class%>" title="Clicked"></span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="box">
      <h2>Musicians</h2>
      <%= Invitation.group(:status).count %>
    </div>
  </div>
</div>
