<div class="box welcome-card">
  <div class="welcome">
    Welcome back <span class="green">Igor!</span> Your latest invitation has been viewed 27 times.</div>
  </div>
<div class="row">
  <div class="col-12 col-lg-4">
    <div class="box dark_box">
      <h2><span class="icon-musical-note"></span><span>Pending works</span></h2>
      <div class="search">
        <input type="text" class="pending-search search_bars" placeholder="search pending works">
        <button type="submit" class="search-button">
          <i class="fa fa-search"></i>
       </button>
      </div>
      <div class="scroll-card" id="pending-works">
        <% @pending_works.each do |work| %>
          <div class="box">
          <%= link_to musical_work_path(work) do %>
            <p><%= work.title %></p>
            <p class="orange">Missing <%= ["trumpet", "flute", "viola", "cello", "bassoon"].sample %> sheet</p>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="box">
      <%= month_calendar(events: @concerts, attribute: :start_at, end_attribute: :end_at) do |date, events| %>
        <% if events.count > 0 %>
          <% events.each do |event| %>
            <%= link_to concert_path(event) do  %>
              <%= date.day %>
            <% end %>
          <% end %>
        <% else %>
          <%= date.day %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-12 col-lg-8">
    <div class="box">
      <h2 class="icon-note">Pending invitations</h2>
      <div class="scroll-card" id="pending-invitations">
        <% @invitations.each do |invitation| %>
          <%= render partial: 'shared/invitation', locals: {invitation: invitation } %>
        <% end %>
      </div>
    </div>
    <div class="box">
      <h2><span class="icon-statistics"></span><span>Musicians</span></h2>
      <div class="invitations-data">
        <div class="invitation-counter<% if @missing_strings %><%= ' orange' %><% end %>">
          <span class="icon-strings instrument-icon"></span>
          <p class="invitation-number"><%= @accepted_invites_count_per_instrument_category[:Strings] %></p>
          <p class="invitation-total">/<%= @total_instruments_needed[:Strings] %></p>
        </div>
        <div class="invitation-counter<% if @missing_brass %><%= ' orange' %><% end %>">
          <span class="icon-trumpet instrument-icon"></span>
          <p class="invitation-number"><%= @accepted_invites_count_per_instrument_category[:Brass] %></p>
          <p class="invitation-total">/<%= @total_instruments_needed[:Brass] %></p>
        </div>
        <div class="invitation-counter<% if @missing_woodwinds %><%= ' orange' %><% end %>">
          <span class="icon-flute instrument-icon"></span>
          <p class="invitation-number"><%= @accepted_invites_count_per_instrument_category[:Woodwinds] %></p>
          <p class="invitation-total">/<%= @total_instruments_needed[:Woodwinds] %></p>
        </div>
        <div class="invitation-counter">
          <span class="icon-drum instrument-icon<% if @missing_percussions %><%= ' orange' %><% end %>"></span>
          <p class="invitation-number"><%= @accepted_invites_count_per_instrument_category[:Percussions] %></p>
          <p class="invitation-total">/<%= @total_instruments_needed[:Percussions] %></p>
        </div>
        <div class="invitation-counter<% if @missing_keyboards %><%= ' orange' %> <% end %>">
          <span class="icon-keyboard instrument-icon"></span>
          <p class="invitation-number"><%= @accepted_invites_count_per_instrument_category[:Keyboard] %></p>
          <p class="invitation-total">/<%= @total_instruments_needed[:Keyboard] %></p>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
