<div class="box welcome-card">
  <div class="welcome">
    Welcome back <span class="green">Igor!</span> Your latest invitation has been viewed 27 times.</div>
  </div>
<div class="row">
  <div class="col-12 col-lg-3">
    <div class="box"><h2>Pending works</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A voluptas quam doloribus necessitatibus laborum, rem iusto quia deleniti fuga reiciendis iste, temporibus assumenda veritatis et facere dicta, eius recusandae nemo?</p>
    </div>
    <div class="box">
      <%= month_calendar(events: @concerts, attribute: :start_at, end_attribute: :end_at) do |date, events| %>
        <% if events.count > 0 %>
          <% events.each do |event| %>
            <%= link_to concert_path(event) do  %>
              <%= date.day %>
            <% end %>
          <% end %>
        <% else %>
          <%= date.day %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-12 col-lg-9">
    <div class="box">

            <% @invitations.each do |invitation| %>
              <div class='box invitation'>
                <div class='action_buttons'>
                  <button class='btn-validate'></button>
                  <button class='btn-decline'></button>
                  <div class='description'>
                  <%#= invitation.status %>
                  <%= invitation.full_name %> -
                  <%= invitation.email %> -
                  <%= invitation.instrument.name %>
                </div>
                </div>
                  <div class='action_buttons'>
                    <% if invitation.email_delivered %>
                    <%= image_tag('envelope_green.svg', class: 'status') %>
                    <% else %>
                    <%= image_tag('envelope.svg', class: 'status') %>
                    <% end %>

                    <% if invitation.email_read %>
                    <%= image_tag('open_envelope_green.svg', class: 'status') %>
                    <% else %>
                    <%= image_tag('open_envelope.svg', class: 'status') %>
                    <% end %>

                  <% if invitation.email_clicked %>
                    <%= image_tag('read_mail_green.svg', class: 'status') %>
                    <% else %>
                    <%= image_tag('read_mail.svg', class: 'status') %>
                    <% end %>


                  <% if invitation.email_error %>
                    <%= image_tag('validate_orange.svg', class: 'status') %>
                    <% else %>
                    <%= image_tag('read_mail.svg', class: 'status') %>
                    <% end %>
                  </div>
                </div>
            <% end %>
        </div>
       </div>
      </div>
    <div class="box">
      <h2>Musicians</h2>
      <%= Invitation.group(:status).count %>
    </div>
  </div>
</div>

